---
import Layout from "@layouts/Layout.astro";
import { find_crawl_dates,get_pages_with_change } from "@lib/bigquery";
import { debug as debugBase } from "@lib/debug";
import { html_template,plain_template } from "@lib/handlebars";
import { prisma } from "@lib/prisma";
import { Prisma } from "@prisma/client";
import sendgrid from "@sendgrid/mail";

const debug = debugBase.extend("sendmail");

const crawl_dates = await find_crawl_dates();
if (!crawl_dates) {
    return new Response(undefined, { status: 404 });
}
const current_crawl = crawl_dates.current_crawl;
const prev_crawl = crawl_dates.prev_crawl;

const [new_pages, removed_pages, modified_pages] = await Promise.all([
    get_pages_with_change({ current_crawl: current_crawl, change: "ADD" }),
    get_pages_with_change({ current_crawl: current_crawl, change: "DEL" }),
    get_pages_with_change({ current_crawl: current_crawl, change: "CHANGE" }),
]);

const boringRE = new RegExp(
    "(?:" +
        [
            "^https://www.portland.gov/transportation/news",
            "/documents",
            "/meetings",
            "/past",
            "/services",
        ].join("|") +
        String.raw`)(?:\?|$)`,
    "i"
);

function interesting(row: { page: string }): boolean {
    return !boringRE.test(row.page);
}

const modified = modified_pages.pages.filter(interesting);

const data = {
    subscribe_url: `https://${Astro.url.host}/subscribe`,
    curr_crawl_date: String(current_crawl),
    curr_crawl_link: `https://${Astro.url.host}/${current_crawl}`,
    prev_crawl_date: String(prev_crawl),
    new: new_pages.pages.filter(interesting),
    removed: removed_pages.pages.filter(interesting),
    modified_link:
        modified.length > 100
            ? `https://${Astro.url.host}/${current_crawl}/modified`
            : undefined,
    modified: modified.slice(0, 100),
};

let status: string[] = [];
const html_content = html_template(data);
const plain_content = plain_template(data);
const subject = `PBOT website changes from ${prev_crawl} to ${current_crawl}`;

const sending_states = {
    sending: "sending",
    sent: "sent",
} as const;

let sent_status = await prisma.crawlState.findUnique({
    where: { crawl_date: String(current_crawl) },
});

if (sent_status === null && Astro.request.method == "POST") {
    const sendgrid_api_key = process.env.SENDGRID_API_KEY;
    if (!sendgrid_api_key) {
        status.push("No Sendgrid API key.");
    } else {
        sendgrid.setApiKey(sendgrid_api_key);

        let deleteStateOnFail = false;
        let shouldDeleteState = false;

        try {
            // Throws if the crawl_date is already inserted.
            debug("Recording that we're sending this crawl's mail: %j", await prisma.crawlState.create({
                data: {
                    crawl_date: String(current_crawl),
                    state: sending_states.sending,
                },
            }));
            deleteStateOnFail = true;
            const subscriptions = await prisma.subscription.findMany({});
            debug("Sending to: %j", subscriptions);
            if (subscriptions.length === 0) {
                status.push("No subscriptions.");
            }
            const [response] = await sendgrid.send({
                personalizations: subscriptions.map((subscription) => {
                    const unsubscribe_url = `https://${Astro.url.host}/unsubscribe?secret=${subscription.unsubscribeSecret}`;
                    return {
                        to: [
                            {
                                email: subscription.email,
                                name: subscription.name ?? undefined,
                            },
                        ],
                        substitutions: {
                            "[[[unsubscribe-url]]]": unsubscribe_url,
                        },
                        headers: {
                            "List-Unsubscribe": `<${unsubscribe_url}>`,
                        },
                    };
                }),
                from: {
                    email: "pbot-crawl-reports@yasskin.info",
                    name: "Jeffrey Yasskin",
                },
                subject,
                content: [
                    { type: "text/plain", value: plain_content },
                    { type: "text/html", value: html_content },
                ],
            });

            if (response.statusCode === 202) {
                // This should only need an update, since we locked the record above, but make sure
                // that even if something weird happened, we record that the email got sent.
                debug("Recording that the mail is sent: %j", await prisma.crawlState.upsert({
                    where: {
                        crawl_date: String(current_crawl),
                    },
                    create: {
                        crawl_date: String(current_crawl),
                        state: sending_states.sent,
                    },
                    update: {
                        state: sending_states.sent,
                    },
                }));
            } else {
                status.push(JSON.stringify(response.body));
                shouldDeleteState = true;
            }
        } catch (e) {
            if (
                e instanceof Prisma.PrismaClientKnownRequestError &&
                e.code === "P2002"
            ) {
                sent_status = await prisma.crawlState.findUnique({
                    where: { crawl_date: String(current_crawl) },
                });
                if (!sent_status) {
                    status.push(
                        "A concurrent attempt to send failed; try again."
                    );
                }
            } else {
                status.push(String(e));
                if (deleteStateOnFail) {
                    shouldDeleteState = true;
                }
            }
        }
        if (shouldDeleteState) {
            const deleteResult = await prisma.crawlState.delete({
                where: {
                    crawl_date: String(current_crawl),
                    state: sending_states.sending,
                },
            });
            debug("Recorded that the mail didn't get sent: %j", deleteResult);
        }
    }
}
---

<Layout title="Sending crawl to subscribers">
    {
        sent_status?.state === "sent" ? (
            <p>
                The {String(current_crawl)} crawl has already been sent to
                subscribers.
            </p>
        ) : sent_status?.state === "sending" ? (
            <p>
                Another request is currently sending the {String(current_crawl)}{" "}
                crawl to subscribers.
            </p>
        ) : Astro.request.method == "POST" ? null : (
            <form method="post">
                <button>Send</button>
            </form>
        )
    }

    {status.map((elem) => <p>{elem}</p>)}

    <h2>HTML email content</h2>
    <div set:html={html_content} />

    <h1>Plain Text email content</h1>
    <pre set:text={plain_content} />
</Layout>
