---
import Layout from "@layouts/Layout.astro";
import { prisma } from "@lib/prisma";
import { timeFormatterFromCookies } from "@lib/util";

const { date } = Astro.params;

const timeFormatter = timeFormatterFromCookies(Astro.cookies);

const crawl = await prisma.crawl.findUnique({
  where: { date },
  include: {
    pages: { include: { url: { select: { url: true } } } },
  },
});
if (crawl === null) {
  const target = new URL("404", Astro.url);
  if (date != null) target.searchParams.set("date", date);
  return Astro.rewrite(target);
}

const PAGE_STATE_NAMES = {
  TODO: "To crawl",
  FETCHING: "Being crawled",
  SCOPE: "Out of scope",
  ROBOTS: "Excluded by robots.txt",
  FETCH_ERROR: "Fetch error",
  MISSING: "Missing?",
  SERVER_ERROR: "5xx",
  ERROR: "4xx",
  REDIRECT: "3xx",
  NOT_HTML: "Not HTML",
  HTML: "HTML",
};

type PageState = keyof typeof PAGE_STATE_NAMES;

const pages = Object.groupBy(crawl.pages, (page): PageState => {
  if (page.state !== "DONE") return page.state;
  if (page.excluded) return page.excluded;
  if (page.fetchError && page.httpStatus === null) return "FETCH_ERROR"
  if (page.httpStatus === null) return "MISSING";
  if (page.httpStatus >= 500) return "SERVER_ERROR";
  if (page.httpStatus >= 400) return "ERROR";
  if (page.httpStatus >= 300) return "REDIRECT";
  if (page.contentType?.startsWith("text/html")) return "HTML";
  return "NOT_HTML";
});

function mapPageStates<T>(
  content: (
    state: PageState,
    name: string,
    pages: NonNullable<typeof crawl>["pages"],
  ) => T,
): T[] {
  return (Object.entries(PAGE_STATE_NAMES) as [PageState, string][]).flatMap(
    ([field, name]) => {
      const group = pages[field];
      return group ? [content(field, name, group)] : [];
    },
  );
}

const currentlyFetching =
  (pages.FETCHING?.length ?? 0) == 1 ? pages.FETCHING?.[0] : undefined;

function formatFetchRange(
  start: Date | Temporal.Instant | null,
  end: Date | Temporal.Instant | null,
): string | null {
  if (start) {
    if (end) {
      return timeFormatter.formatRange(start, end);
    } else {
      return `started ${timeFormatter.format(start)}`;
    }
  } else return null;
}
---

<Layout title={`Crawl ${crawl.date} is ${crawl.state.toLowerCase()}.`} `>
  {
    crawl.error ? (
      <pre>
        <code>{crawl.error}</code>
      </pre>
    ) : null
  }
  {
    currentlyFetching ? (
      <p>Currently fetching {currentlyFetching.url.url}</p>
    ) : null
  }
  <table>
    <tr><th>Start time</th><td>{timeFormatter.format(crawl.startTime)}</td></tr>
    {
      crawl.endTime ? (
        <tr>
          <th>End time</th>
          <td>{timeFormatter.format(crawl.endTime)}</td>
        </tr>
      ) : null
    }
    {
      crawl.prevCrawlDate ? (
        <tr>
          <>
            <th>Previous crawl</th>
            <td>
              <a href={`/crawl/${crawl.prevCrawlDate}`}>
                {crawl.prevCrawlDate}
              </a>
            </td>
          </>
        </tr>
      ) : null
    }
    {
      mapPageStates((field, name, group) =>
        (!currentlyFetching || field !== "FETCHING") &&
        group &&
        group.length > 0 ? (
          <tr>
            <th>{name}</th>
            <td>{group.length}</td>
          </tr>
        ) : null,
      )
    }
  </table>

  {
    mapPageStates((field, name, group) =>
      (!currentlyFetching || field !== "FETCHING") &&
      group &&
      group.length > 0 ? (
        <>
          <h2>{name}</h2>
          <ul>
            {group.map((page) => (
              <>
                <li>
                  {page.url.url}
                  {field === "TODO" || page.excluded!=null ? null : (
                    <>
                      : {page.change}{" "}
                      {formatFetchRange(page.fetchStart, page.fetchEnd)},{" "}
                      {page.httpStatus}
                      {page.location ? `(${page.location})` : null}{" "}
                      {page.contentType}
                    </>
                  )}
                </li>
              </>
            ))}
          </ul>
        </>
      ) : null,
    )
  }
</Layout>
